<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoveChain</title>

    <!-- Bootstrap -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="title">
        <h1><a href="/">LoveChain</a></h1>
      </div>
      <div class="navigation">
        <div><a href="/">Shop</a></div>
        <div>/</div>
        <div><a href="/about">About Us</a></div>
        <div>/</div>
        <div><a href="/inventory">Your Inventory</a></div>
        <div>/</div>
        <div><a href="https://github.com/rauljordan" target="_blank"><i class="fa fa-github"></i>Github</a></div>
      </div>
      <div class="card">
        {% block body %}{% endblock %}
      </div>
    </div>

  </body>
</html>
