body {
  background-color: #FF4771;
}

h1 {
  color: white;
}

h1 a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.title {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.navigation div {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

.navigation div:nth-child(2n) {
  color: white;
}

.card {
  background-color: white;
  border-radius: 12px;
  height: 1000px;
  box-shadow: 0px 30px 300px rgba(0, 0, 0, 0.4);
}
